{% extends 'base.html' %}

{% block content %}
    <h2>{{ travel.title }}</h2>

    <div>
        {{ travel.description }}
    </div>

    <div>
        {{ travel.price }}
    </div>

    <div>
        Country: {{ travel.country.name }}
    </div>

    <div>
        Date: {{ travel.start_date }} - {{ travel.end_date }}
    </div>

    <div>
        Places left: <b>{{ places_left }}</b>
    </div>

    <div>
        <form class="form-horizontal" method="post" action="{% url 'checkout:add' %}">
            {% csrf_token %}
            <input type="hidden" name="travel-id" value="{{ travel.id }}">


            <div class="form-group row">
                <div class="col-3">
                    <label for="count">Number of people: </label>
                    <input class="form-control" id="count" type="number" name="count" min="1" max="{{ places_left }}" title="count" required>
                </div>
            </div>


            <button type="submit" class="btn btn-primary">Buy</button>

        </form>
    </div>

    {% for image in travel.images.all %}
        <img width="300px" src="{{ image.image.url }}">
    {% endfor %}
{% endblock %}
