{% extends 'base.html' %}

{% block content %}
    <h2>{{ travel.title }}</h2>

    <div>
        {{ travel.description }}
    </div>

    <div>
        {{ travel.price }}
    </div>

    <div>
        <form method="post" action="{% url 'checkout:add' %}">
            {% csrf_token %}
            <input type="hidden" name="travel-id" value="{{ travel.id }}">
            <button type="submit" class="btn btn-primary">Buy</button>
        </form>
    </div>

    {% for image in travel.images.all %}
        <img width="300px" src="{{ image.image.url }}">
    {% endfor %}
{% endblock %}
