{% extends 'base.html' %}
{% load countries %}

{% block content %}
    <form action="{% url 'travel:index' %}">
        <div class="search-box">
            <div class="container-fluid bg-light ">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-2 pt-3">
                        <div class="form-group">
                            <label for="name" class="control-label">Name:</label>
                            <input id="name" class="form-control" name="name" title="name" type="text"
                                   placeholder="Name" value="{{ params.title__contains|default:"" }}">
                        </div>
                    </div>
                    <div class="col-md-2 pt-3">
                        <div class="form-group">
                            <label for="country" class="control-label">Country:</label>
                            {% get_countries as countries %}
                            <select id="country" name="country" title="country" class="form-control">
                                <option disabled selected>Country</option>
                                {% for country in countries %}
                                    <option {% ifequal country.code params.country %}selected{% endifequal %}
                                            value="{{ country.code }}">{{ country.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 pt-3">
                        <div class="form-group">
                            <label for="price_min" class="control-label">Price min:</label>
                            <input id="price_min" type="number" class="form-control" name="price" title="price"
                                   value="{{ params.price__range.0|default:price_range.min.price__min }}"
                                   placeholder="Price min">
                        </div>
                    </div>
                    <div class="col-md-2 pt-3">
                        <div class="form-group">
                            <label for="price_max" class="control-label">Price max:</label>
                            <input id="price_max" type="number" class="form-control" name="price" title="price"
                                   value="{{ params.price__range.1|default:price_range.max.price__max }}"
                                   placeholder="Price max">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="" class="control-label">Search</label>
                        <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-search
"></span></button>
                    </div>
                </div>
            </div>
        </div>


        <div class="travels-box">
            {% for travel in travels %}
                <div class="row">
                    <div class="col-md-6">
                        <a href="{{ travel.images.first.image.url }}">
                            <img class="img-fluid rounded mb-3 mb-md-0 travel-main-image"
                                 src="{{ travel.images.first.image.url }}" alt="">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <h3>{{ travel.title }}</h3>
                        <p>{{ travel.description }}</p>
                        <p><b>Price: </b>{{ travel.price }} PLN</p>
                        <a class="btn btn-primary" href="{% url 'travel:details' travel.id %}">Details</a>
                    </div>
                </div>
                <hr>
            {% endfor %}

            <div class="pagination">
            <span class="step-links">
                {% if travels.has_previous %}
                    <button type="submit" value="1" name="p" class="btn">&laquo; first</button>
                    <button type="submit" value="{{ travels.previous_page_number }}" name="p" class="btn">previous</button>
                {% endif %}

                <span class="current">
                    Page {{ travels.number }} of {{ travels.paginator.num_pages }}.
                </span>

                {% if travels.has_next %}
                    <button type="submit" value="{{ travels.next_page_number }}" name="p" class="btn">next</button>
                    <button type="submit" value="{{ travels.paginator.num_pages }}" name="p" class="btn">last &raquo;</button>
                {% endif %}
            </span>
            </div>

        </div>
    </form>
{% endblock %}
