{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Travel CMS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block custom_scripts %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        {% block navbar %}
            {% include 'partials/navbar.html' %}
        {% endblock %}
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            {% block sidebar-left %}
                Left
            {% endblock %}
        </div>
        <div class="col-sm-8 text-left">
            {% block content %}
                Content
            {% endblock %}
        </div>
        <div class="col-sm-2 sidenav">
            {% block sidebar-right %}
                Newsletter:
                <form action='{{ newsletter_form_url }}' method='POST'>

                    {% csrf_token %}
                    {{ newsletter_form }}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input type="submit" value="Save">

                </form>
            {% endblock %}
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    {% block footer %}
        {% include 'partials/footer.html' %}
    {% endblock %}
</footer>

</body>
</html>
