<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% url 'core:index' %}">Logo</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
        <li><a class="{% block menu_home %}{% endblock %}" href="{% url 'core:index' %}">Home</a></li>
        <li><a class="{% block menu_travels %}{% endblock %}" href="{% url 'travel:index' %}">Travels</a></li>
        <li><a class="{% block menu_contact %}{% endblock %}" href="{% url 'contact:index' %}">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            {% if request.session.offers %}
                <li><a href="{% url 'checkout:summary' %}"><span class="glyphicon glyphicon-plane"></span> Your travel is waiting! {% if request.session.offers|length > 1 %}(even {{ request.session.offers|length }}!) {% endif %}</a></li>
            {% endif %}
            <li><a href="{% url 'authorization:logout' %}">Logged as: <b>{{ user.get_username }}</b> | <span
                    class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        {% else %}
            <li><a href="{% url 'authorization:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
            </li>
        {% endif %}
    </ul>
</div>
