{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="text-center p10">
        <h2>Travel successfully added!</h2>

        <div class="info-page-icon">
            <img src="{% static 'icons/world.png' %}" style="width: 20em">
        </div>

        <div class="info-page-buttons">
            <div class="row">
                <a href="{% url 'travel:index' %}">
                    <button class="btn btn-secondary">Add something else</button>
                </a>
                <a href="{% url 'checkout:summary' %}">
                    <button class="btn btn-primary">Go to summary</button>
                </a>
            </div>
        </div>
    </div>

    <div>Icons made by <a href="https://www.flaticon.com/authors/prettycons" title="prettycons">prettycons</a> from <a
            href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
            href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0
        BY</a></div>
{% endblock %}
