{% extends 'base.html' %}

{% load static %}

{% block custom_scripts %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>
        .mySlides {
            display: none;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="text-center"><h1><b>Recommended travels</b></h1></div>
    <div id="homepage-slider">
        <div class="w3-container">
            <div class="w3-content w3-display-container">
                {% for promotion in promoted %}
                    <div class="w3-display-container mySlides">
                        <a href="{% url 'travel:details' promotion.id %}"><img
                                src="{{ promotion.images.first.image.url }}" style="height:400px">
                            <div class="w3-display-topmiddle w3-large w3-container w3-padding-16 w3-black">
                                <div class="text-center"><b>{{ promotion.title }}</b></div>
                                <small class="text-center">{{ promotion.description|truncatechars:100 }}</small>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
                <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>
            </div>
        </div>
    </div>

    <div id="homepage-text">{{ settings.homepage_text|safe }}</div>

    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = x.length
            }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }

        setInterval(function () {
            plusDivs(1);
        }, 5000)
    </script>
{% endblock %}
